<% provide :title, "Ajouter de nouvelles transactions" %>

<%=
  render partial: 'form', locals: { remote: true }
%>

<h2>Opérations enregistrées</h2>

<%= render partial: 'transactions', object: [], locals: { allow_empty: true } %>