<h1>Ajouter de nouvelles transactions</h1>

<%=
  render partial: 'form', locals: { remote: true }
%>

<h2>Opérations enregistrées</h2>

<%= render partial: 'transactions', object: [], locals: { allow_empty: true } %>