<% if @transaction %>

<h1>Édition de la transaction</h1>

<%=
  render partial: 'form', locals: {remote: false}
%>

<p>
  <%= link_to "Retour", @transaction %>
</p>

<% else %>

<p class="alert alert-danger">
  La transaction <%= params[:id] %> n'existe pas.
</p>

<% end %>