<% if @transaction %>

<h1>Édition de la transaction</h1>

<%=
  render partial: 'ajax_form', locals: {
    remote: false,
    transaction: @transaction,
    compte_selectionne: @transaction.compte
  }
%>

<p>
  <%= link_to "Retour", @transaction %>
</p>

<% else %>

<p class="alert alert-danger">
  La transaction <%= params[:id] %> n'existe pas.
</p>

<% end %>