<h1>Home#welcone</h1>
<p>Find me in app/views/home/welcone.html.erb</p>

<p>
  <%= link_to "Accès aux comptes", comptes_path %><br/>
  <%= link_to 'Création de comptes', new_comptes_compte_path %>
</p>
