<!-- Section menu -->
<span class="section-title">Date Marks</span>
<ul>
  <li><%= link_to "Liste", date_marker_events_path %></li>
  <li><%= link_to "Nouvel évenement", new_date_marker_event_path %></li>
</ul>