/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

 @import "bootstrap/variables";
 @import "bootstrap/mixins";

.radio-label {
  display: inline;
}

body {
  padding: 10px;

	@media(min-width: $screen-xs-min) {
	  .row {
			display: table;
			width: 100%;

			#menu, #content {
				display: table-cell;
				padding-left: 10px;
				padding-right: 10px;
			}

	  	#menu {
	  		width: 175px;
	  	}

	  	#content {
	  		width: auto;
	  	}
	  }
	}

	@media(max-width: $screen-xs-min) {
		.row {
			#menu {
				@include make-xs-column(12);
			}

			#content {
				@include make-xs-column(12);
			}
		}
	}
}

#title {
	font-size: 40px;
	font-variant: small-caps;
	text-align: center;
}
