<% if @comptes_category %>
<% provide :title, "Édition de #{@comptes_category.nom}" %>

<%= render 'form' %>

<%= link_to HtmlHelper::Bootstrap.glyphicon("eye-open", { text: 'Voir'}), comptes_category_path(@comptes_category) %> |

<% else %>
<% provide :title, "Categorie inexistante" %>

<p>
  La catégorie demandéé (<%= params[:id] %>) n'existe pas.
</p>

<% end %>

<%= link_to HtmlHelper::Bootstrap.glyphicon("arrow-left", { text: 'Back'}), comptes_categories_path %>
