<% if @comptes_category %>
<% provide :title, "Catégorie #{@comptes_category.nom}" %>

<p>
  Nom : <strong><%= @comptes_category.nom %></strong>
</p>

<%= link_to HtmlHelper::Bootstrap.glyphicon(:pencil, { text: 'Edit'}), edit_comptes_category_path(@comptes_category) %> |

<% else %>
<% provide :title, "Catégorie inexistante" %>

<p>
  La catégorie demandéé (<%= params[:id] %>) n'existe pas.
</p>

<% end %>

<%= link_to HtmlHelper::Bootstrap.glyphicon("arrow-left", { text: 'Back'}), comptes_categories_path %>